@import "tailwindcss";

:root {
  --background: #f0fff0;
  --foreground: #171717;
  --font-jersy-10: "Jersey 10", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: #ededed;
  }
}

h1,
h4 {
  color: #ffffff;
  font-family: var(--font-jersy-10);
}

h2,
h3,
.title {
  font-family: var(--font-jersy-10);
  color: #1b1b1b;
}

.stack {
  font-family: var(--font-jersy-10);
}

p {
  color: #1b1b1b;
}

body {
  background: #f9f9f9;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10em;
}

.wrapper {
  width: min(1000px, 90%);
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
}

@layer base {
  .background-top {
    @apply bg-gradient-to-r from-[#77C6FF] to-[#EE4D4D] h-[40vh] w-full grid place-content-center md:h-[50vh];
  }

  .title-header {
    @apply text-5xl md:text-6xl;
  }

  .title-h2 {
    @apply text-2xl md:text-4xl;
  }

  .media {
    @apply flex flex-wrap justify-center gap-2 *:shadow-md *:font-semibold *:bg-[#f0f8ff] *:text-[#1b1b1b] [&>div]:rounded-sm [&>div]:text-sm [&>div]:flex [&>div]:items-center [&>div]:gap-2 [&>div]:p-2 [&>div]:hover:cursor-pointer [&>div>i]:text-sm;
  }

  .study {
    @apply flex flex-col gap-2 text-[#1b1b1b] *:shadow-md *:bg-[#f0f8ff] *:p-2 *:rounded-md;
  }

  .about {
    @apply flex flex-col gap-5 [&>p]:text-white/50 *:font-semibold;
  }

  .border-header {
    @apply border-b-2 border-dotted border-[#1b1b1b]/50;
  }

  .stack {
    @apply flex gap-2 *:hover:cursor-pointer *:p-2 *:text-xl *:text-balance *:text-[#1b1b1b]/90  *:hover:text-[#1b1b1b];
  }

  .programming {
    @apply flex flex-wrap *:w-50 gap-2 *:flex *:font-semibold *:shadow-md *:bg-[#f0f8ff] *:items-center *:gap-2  *:p-2 *:rounded-sm *:hover:text-white *:hover:cursor-pointer *:text-sm;
  }

  .cards {
    @apply grid gap-5 lg:grid lg:grid-cols-2  *:bg-[#f0f8ff] *:hover:shadow-xl *:shadow-md;
  }

  .card {
    @apply grid gap-3 p-5 rounded-2xl;
  }

  .card-text {
    @apply grid gap-2 tracking-wide;
  }

  .card-prog {
    @apply text-xs flex gap-2 *:p-0.5 *:px-2 *:rounded-xl;
  }

  .card-button {
    @apply flex gap-2 *:font-semibold *:text-[#1b1b1b]/80 *:hover:text-[#1b1b1b] *:shadow-md *:cursor-pointer *:rounded-sm *:p-1 *:px-3 *:text-sm;
  }

  .skills {
    @apply text-[#1b1b1b] text-xs flex flex-wrap gap-1 *:bg-[#f0f8ff] *:p-2 *:shadow-md *:rounded-full;
  }

  /* .project {
    @apply bg-black p-5 shadow-md;
  } */
}
